---
---

<!-- WhatsApp Floating Button -->
<div class="fixed bottom-8 right-8 z-50">
  <a 
    href="https://wa.me/573115412230" 
    target="_blank"
    class="w-16 h-16 bg-secondary text-white rounded-full shadow-2xl flex items-center justify-center hover:scale-110 transition-all active:scale-90 group relative"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 263 268" fill="none" class="w-8 h-8">
      <path d="M131.25 4.6875C96.4403 4.6875 63.0564 18.5156 38.4422 43.1297C13.8281 67.7439 0 101.128 0 135.938C0.0303725 157.412 5.32942 178.551 15.4324 197.5L15.2526 197.343C21.8676 212.883 21.6641 217.654 20.6233 230.634C19.8982 239.677 17.4464 248.911 14.3811 254.115C11.6025 258.827 9.33122 263.696 9.33122 264.93C9.33122 268.762 31.4967 267.424 51.0759 262.403C74.0184 256.53 76.0266 256.543 94.8347 262.443L93.9225 261.701C106.036 265.318 118.608 267.166 131.25 267.188C166.06 267.187 199.444 253.359 224.058 228.745C248.672 204.131 262.5 170.747 262.5 135.938C262.5 101.128 248.672 67.7439 224.058 43.1297C199.444 18.5156 166.06 4.6875 131.25 4.6875Z" fill="white"/>
      <path d="M131.25 0C96.4403 0 63.0564 13.8281 38.4422 38.4422C13.8281 63.0564 0 96.4403 0 131.25C0.0303725 152.724 5.32942 173.863 15.4324 192.813L15.2526 192.655C21.8676 208.195 21.6641 212.966 20.6233 225.947C19.8982 234.99 17.4464 244.223 14.3811 249.428C11.6025 254.139 9.33122 259.009 9.33122 260.242C9.33122 264.075 31.4967 262.736 51.0759 257.716C74.0184 251.843 76.0266 251.856 94.8347 257.755L93.9225 257.014C106.036 260.631 118.608 262.478 131.25 262.5C166.06 262.5 199.444 248.672 224.058 224.058C248.672 199.444 262.5 166.06 262.5 131.25C262.5 96.4403 248.672 63.0564 224.058 38.4422C199.444 13.8281 166.06 0 131.25 0Z" fill="white"/>
      <path d="M131.25 28.125C188.51 28.125 234.375 73.9903 234.375 131.25C234.375 188.497 188.53 234.354 131.288 234.375C115.597 233.68 103.593 230.805 89.4769 227.805C76.5325 225.547 63.9366 226.26 47.6875 230.259C47.8283 228.916 48.1813 227.697 48.2918 226.318C49.249 214.381 48.5012 201.007 42.6877 185.571C34.6734 167.85 28.3101 147.91 28.125 131.25V131.212C28.1455 73.9705 74.0031 28.125 131.25 28.125Z" fill="#47AD5D"/>
      <path d="M176.959 189.295C186.095 184.958 190.343 179.516 191.807 170.272C192.924 163.227 192.409 162.831 178.51 156.179C160.839 147.721 161.928 147.68 154.315 157.076C149.577 162.924 147.541 164.821 146.003 164.821C127.994 159.981 109.2 144.592 103.371 126.232C103.371 125.445 105.288 122.569 107.631 119.839C114.52 111.814 114.528 111.617 108.513 96.8866C101.589 79.9281 99.7161 80.0432 92.1727 79.733C84.453 79.4157 82.0135 80.6355 77.1292 87.2548C72.0758 94.1034 70.2716 99.6128 70.3132 108.068C70.3676 118.8 73.906 127.417 84.1525 141.756C101.743 166.372 118.905 179.733 143.629 188.058C158.751 193.15 168.108 193.498 176.959 189.295Z" fill="white"/>
      <path d="M176.959 184.608C186.095 180.271 190.343 174.829 191.807 165.584C192.924 158.539 192.409 158.143 178.51 151.491C160.839 143.033 161.928 142.993 154.315 152.389C149.577 158.236 147.541 160.134 146.003 160.134C127.994 155.293 109.2 139.905 103.371 121.544C103.371 120.758 105.288 117.881 107.631 115.152C114.52 107.126 114.528 106.93 108.513 92.1991C101.589 75.2406 99.7161 75.3557 92.1727 75.0455C84.453 74.7282 82.0135 75.948 77.1292 82.5673C72.0758 89.4159 70.2716 94.9253 70.3132 103.381C70.3676 114.112 73.906 122.729 84.1525 137.069C101.743 161.685 118.905 175.045 143.629 183.371C158.751 188.463 168.108 188.81 176.959 184.608Z" fill="white"/>
      <path d="M131.25 0C96.4403 0 63.0564 13.8281 38.4422 38.4422C13.8281 63.0564 0 96.4403 0 131.25C0.0439305 132.084 0.0958128 132.917 0.15564 133.749C0.72923 99.3473 14.7888 66.546 39.3075 42.4075C63.8262 18.2689 96.8431 4.72352 131.25 4.6875C165.446 4.69676 198.289 18.052 222.787 41.9106C247.285 65.7691 261.504 98.2469 262.418 132.431C262.447 132.037 262.474 131.644 262.5 131.25C262.5 96.4403 248.672 63.0564 224.058 38.4422C199.444 13.8281 166.06 0 131.25 0ZM21.1029 218.307C21.0216 220.612 20.8609 223.023 20.6268 225.943C19.9017 234.986 17.4483 244.222 14.3829 249.426C11.6044 254.138 9.32922 259.005 9.32922 260.239C9.32922 260.758 9.76589 261.178 10.5194 261.511C11.4471 259.429 12.8067 256.787 14.3829 254.114C17.4483 248.91 19.9017 239.674 20.6268 230.63C21.0239 225.679 21.2816 221.923 21.1029 218.307Z" fill="white"/>
    </svg>
    <span class="absolute right-full mr-4 bg-white text-primary px-4 py-2 rounded-xl text-sm font-bold shadow-xl opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap">
      ¿Necesitas ayuda?
    </span>
  </a>
</div>
